<div class="sidenav">
    <a href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a routerLink="/manageAdmission" routerLinkActive="active">Manage Admission</a>
    <a routerLink="/manageSchoolfees" routerLinkActive="active">Manage School Fees</a>
    <a routerLink="/manageTeacher" routerLinkActive="active">Manage Teachers</a>
    <a routerLink="/manageClass" routerLinkActive="active">Manage Class</a>
    <hr>
    <a routerLink="/registerStudent" routerLinkActive="active">Register Student</a>
    <a routerLink="/manageStudent" routerLinkActive="active">Manage Student</a>
    <a routerLink="/manageStudentprogress" routerLinkActive="active">Manage Student Progress</a>
    <a routerLink="/manageStudentresult" routerLinkActive="active">Manage Student Result</a>
  <hr>  

  <a routerLink="/viewProfile" routerLinkActive="active"> View Profile </a>
  <a routerLink="/viewResult" routerLinkActive="active"> View Result</a>

  </div>